body{
    background-color: green;
}

.card{
    height: 400px;
    width: 300px;
    background-color:#ffff;
    margin: 20px auto;/*con auto centro el card*/
    border-radius: 10px;
}

.card .card-header{
    background-color:white;
    max-height: 20%;
    max-width: 100%;
    display: block;
}
#corazon {
    width: 60px;
  }

#numero {
    font-size: 150px;
    text-align: center;
  }

#diamante {
    width: 60px;
  }

.card .card-footer{
    background-color:white;
    height: 20%;
    width: 100%;
    display: block;
}