body{
    background-color: green;
    margin: 0;
    padding: 0;
}

.card{
    height: 400px;
    width: 300px;
    background-color:#ffff;
    margin: 0 auto;/*con auto centro el card*/
    border-radius: 10px;
}

#numero {
    font-size: 100px;
    text-align: center;
    padding-top: 10%;
    padding-right: 10%;
    color: black;
  }


/*
    spade    = \2660
    cubs     = \2663
    hearts   = \2665
    diamonds = \2666
*/

.card .corazon::before{
  content: '\2665';
  width: 100%;
  display: block;
  text-align: left;
  padding-left: 10px;
  color: red;
}
.card .corazon::after{
  content: '\2665';
  width: 100%;
  display: block;
  text-align: right;
  padding-left: 10px;
  color: red;
  
}
.card .trebol::before{
  content: '\2663';
  width: 100%;
  display: block;
  text-align: left;
  padding-left: 10px;
  color: black;
}
.card .trebol::after{
  content: '\2663';
  width: 100%;
  display: block;
  text-align: right;
  padding-left: 10px;
  color: black;
}
.card .espada::before{
  content: '\2660';
  width: 100%;
  display: block;
  text-align: left;
  padding-left: 10px;
  color: black;
}
.card .espada::after{
  content: '\2660';
  width: 100%;
  display: block;
  text-align: right;
  padding-left: 10px;
  color: black;
}
.card .diamante::before{
  content: '\2666';
  width: 100%;
  display: block;
  text-align: left;
  padding-left: 10px;
  color: red;
}
.card .diamante::after{
  content: '\2666';
  width: 100%;
  display: block;
  text-align: right;
  padding-left: 10px;
  color: red;
  
}